* {
    box-sizing: border-box;
}

body,
h1,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.box {
    height: 1000px;
    width: 400px;
    position: relative; 
}

.box:hover .list {
    transform: translateX(-13%);
}
.box:hover .menu-text {
    transform: translateX(-200%);
}
.menu-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 50px;
    height: 1000px;
    background-color: red;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 111px;
    margin: auto;
    width: 80%;
    height: 1005px;
    background-color: aqua;

    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateX(-200%);
    transition: transform 250ms ease;
}
.item>a {
    font-size: 20px;
    color: black;
}
.container{
    position: relative;
    left: 200px;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 3px;
    font-size: 75px;
}
.box1:nth-child(1){
background-color: red;
}
.box1:nth-child(2){
position: absolute;
left: 75px;
top: 75px;
background-color: blue;
z-index: 2;
}
.box1:nth-child(3){
    position: relative;
    left: 150px;
    background-color: green;
}